* { box-sizing: border-box; font-family: NotoSans, sans-serif; }

html, body { min-height: 100%; margin: 0; }

header, nav, section { display: block; }

@font-face { font-family: "NotoSans"; src: url("fonts/NotoSans-Regular.ttf") format("truetype"); }

@font-face { font-family: "NotoSans"; src: url("fonts/NotoSans-Bold.ttf") format("truetype"); font-weight: bold; }

@font-face { font-family: "NotoSans"; src: url("fonts/NotoSans-Italic.ttf") format("truetype"); font-style: italic; }

@font-face { font-family: "NotoSans"; src: url("fonts/NotoSans-BoldItalic.ttf") format("truetype"); font-weight: bold; font-style: italic; }

body { background-repeat: no-repeat, repeat-x; background-size: 100%, 100%; background-image: url("../image/background-top-blue.jpg"), linear-gradient(to bottom, transparent 60%, #d2ebf5); }

#welcome { width: 100%; padding: 20px; color: #555555; }

@media only screen and (min-width: 769px) { #welcome { width: 40%; margin: 50px auto; } }

#welcome__container { margin: 20px 0; padding: 26px 10px; border: 1px solid #CCC; border-radius: 2px; font-size: 13px; }

@media only screen and (min-width: 769px) { #welcome__container { padding: 50px auto !important; } }

#welcome__container:after { content: ' '; display: block; clear: both; }

#welcome__container-sign { margin: 5px 0 20px 0; padding-left: 20px; font-size: 20px; }

@media only screen and (max-width: 768px) { #welcome__container-sign { padding: 0; text-align: center; } }

@media only screen and (min-width: 769px) { #welcome__container__user { width: 25%; float: left; } }

#welcome__container__user #image { width: 110px; height: 110px; margin: 0 auto; background-color: #FFF; background-size: cover; background-position: center; border-radius: 4px; border: 6px solid #50f06a; }

@media only screen and (min-width: 769px) { #welcome__container__inputs { width: 75%; float: left; } }

#welcome__container__inputs .inputs { padding: 6px; }

#welcome__container__inputs .inputs input { width: 80%; height: 30px; line-height: 30px; padding: 0 10px; border: 1px solid rgba(0, 0, 0, 0.2); margin: 5px 0; border-radius: 2px; }

#welcome__container__inputs #forgot { margin-left: 10px; }

#welcome__container__inputs #forgot a { color: #46a6cc !important; text-decoration: none; }

#welcome__container__inputs #status { padding: 10px; cursor: not-allowed; color: #999 !important; }

#welcome__container__inputs #status-color { width: 10px; height: 10px; content: ' '; display: inline-block; border-radius: 2px; margin: 0 0 -1px 5px; background: #82fb82; box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2); border: 1px solid rgba(0, 0, 0, 0.1); }

#welcome__container__inputs #status-box { margin: 0 5px; }

#welcome__container__inputs #options { margin-left: 5px; }

#welcome__container__inputs #options #option-automatically { color: #cccccc !important; }

#welcome__container-facebook { width: 150px; height: 30px; margin: 10px auto; cursor: pointer; background-image: url("../image/facebook.png"); background-size: contain; background-position: center; background-repeat: no-repeat; }

#welcome-about { text-align: center; }

#welcome-about h4 { margin: 0; }

#welcome-about p { margin-top: 0; font-size: 12px; }
