
	*
	{
		box-sizing: border-box;
		font-family: NotoSans, sans-serif;
	}

	html, body
	{
		min-height: 100%;
		margin: 0;
	}

	header, section, nav
	{
		display: block;
	}

	form
	{
		padding: 5px;
		border-radius: 5px;
		border: 1px solid rgba( black, .4 );
	}