body
	background-repeat: no-repeat, repeat-x
	background-size: 100%, 100%
	background-image: url('../image/background-top-blue.jpg'), linear-gradient(to bottom, transparent 60%, #d2ebf5)

#welcome
	width: 100%
	padding: 20px
	color: $color

	@include device-large
		width: 400px
		margin: 50px auto

	&__user
		&-image
			width: 110px
			height: 110px
			margin: 0 auto

			background-color: #FFF
			background-size: cover
			background-position: center
			border-radius: 3px
			border: 6px solid #f84

		&-welcome
			margin: 5px 0 20px 0
			font-size: 16px
			font-weight: bolder
			text-transform: uppercase
			text-align: center

	&__form
		margin: 30px 0
		padding: 5px
		border: 1px solid #CCC
		border-radius: 2px
		font-size: 13px

		.welcome__form-inputs
			padding: 10px			
			input
				width: 100%
				padding: 3px
				border: 1px solid rgba( black, .4 )
				margin: 5px 0
				border-radius: 3px

		&__signin
			padding: 10px
			
			&-status
				margin: 0 5px
				font-weight: bolder
				text-transform: uppercase

			&-options
				background: red
				span
					display: none
					cursor: pointer

				span:first-child
					display:inline-block

		&-facebook
			width: 150px
			height: 30px
			margin: 10px auto
			cursor: pointer
			background-image: url('../image/facebook.png')
			background-size: contain
			background-position: center
			background-repeat: no-repeat

	&-about
		text-align: center

		h4
			margin: 0

		p
			margin-top: 0
			font-size: 12px
